.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2rem;
  /* background-color: #fff; */
  background-image: linear-gradient(to right, #E8EBF1, #C8D8F0);
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  font-size: 1em;
  margin-bottom: 16px;
}

/* Image shown at the top of the card */
.card-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}
