html
body {
  margin: 0;
  padding: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    overflow: hidden;
}
 
button {
all: unset; /* removes all default styles */
  cursor: pointer; /* restore pointer cursor */
  display: inline-flex; /* good default for alignment */
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}