.live-feed-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(169, 158, 158, 0.52) 0%, rgba(179, 179, 179, 0.52) 100%);
    padding: 2rem;
    color: #333;
    overflow: auto;
}

.info-container {
    margin-top: 1rem;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    color: #6c6c6c;
    padding: 10rem;
}